
@using BlogAndShop.Services
@using BlogAndShop.Services.Classes
@model List<BlogAndShop.Data.ViewModel.Product.BrandModel>


@if (Model != null && Model.Any())
{
	<section class="border-top border-bottom p-0">
		<div class="container">

			<!--

			SWIPER SLIDER

			-->
			<div class="swiper-container"
				 data-swiper='{
							"slidesPerView": 5,
							"spaceBetween": 10,
							"autoplay": true,
							"loop": true,
							"pagination": { "type": "bullets" },
							"breakpoints": {
								"1200": { "slidesPerView": "4" },
								"1024": { "slidesPerView": "3" },
								"0": 	{ "slidesPerView": "2" }
							}
						}'>

				<!--

				NOTE: do not use lazy when loop is true!

				-->
				<div class="swiper-wrapper">

					@foreach (var item in Model)
					{

						<!-- slider -->
						<div class="swiper-slide">


							<div class="lazy bg-white shadow-xs shadow-md-hover transition-all-ease-250 transition-hover-top rounded show-hover-container p-3 my-1">

								<a asp-controller="Shop" asp-action="Index" asp-route-brandName="@item.Name.GetRouteTextString()" class="text-decoration-none">

									<figure class="m-0 text-center">
										<img width="200" height="71" class="opacity-4" src="@await Html.GetMediaPath(item.LogoId)" alt="@item.Name">
									</figure>


								</a>

							</div>

						</div>
					}


				</div>



			</div>
			<!-- /SWIPER SLIDER -->

		</div>
	</section>
}




