* {
    color: #ffffff;
}

body {
    /*background: #3C3B3F;*/ /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to bottom, #605C3C, #3C3B3F);*/ /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to bottom, #605C3C, #3C3B3F);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #44A08D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #093637, #44A08D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.data-box {
    overflow: hidden;
    padding: 15px;
    padding-bottom: 0px;
}

.data-holder {
    height: 450px;
}

.data-border {
    border: solid 1px;
    border-radius: 10px;
}

.data-image {
    border: solid 1px;
    border-radius: 50px;
    background-color: #21252996;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px !important;
    height: 100px !important;
}

section {
    border-top: solid 1px #838171;
}

.bg-site {
}

.bg-site-2 {
}

a {
    color: black !important;
    color: #fcc9c9 !important;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none !important;
}

.hide {
    display: none;
}

.alert-success {
    background-color: #034729;
}

.btn-details {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-radius: 0px !important;
    padding: 10px;
}
