
@model List<BlogAndShop.Data.ViewModel.Product.ProductGroupModel>



<li class="nav-item dropdown">

	<a href="#" id="mainNavShopGategories" class="nav-link dropdown-toggle"
	   data-toggle="dropdown"
	   aria-haspopup="true"
	   aria-expanded="False">
		محصولات
	</a>

	<div aria-labelledby="mainNavHome" class="dropdown-menu dropdown-menu-clean dropdown-menu-hover">
		<ul class="list-unstyled m-0 p-0">
			<li class="dropdown-item"><a asp-controller="Shop" class="dropdown-link">همه محصولات</a></li>
			@await Html.PartialAsync("_ProductHeaderGroupSet", Model)
		</ul>
	</div>


</li>
