
@model string

<!-- PAGE TITLE -->
<section class="bg-white p--30">
	<div class="container">

		<h1 class="h2">
			انجمن
		</h1>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb fs--14">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
				<li class="breadcrumb-item active" aria-current="page">انجمن</li>
			</ol>
		</nav>

	</div>
</section>
<!-- /PAGE TITLE -->
<!-- FAQ -->
<section class="p--30">
	<div class="container">

		<div class="row">

			<div class="col-12 col-lg-4">
				<div class="sticky-kit">

					<nav class="nav-deep nav-deep-light">

						<ul id="list-example" class="nav flex-column nav-default shadow-md rounded-xl bg-white p--10">
							<li class="nav-item px-3 py-2">
								<h2 class="h5 font-weight-normal text-primary">
									دسته بندی مباحث
								</h2>
							</li>

							<li class="nav-item">
								<a class="nav-link py-3" href="#spy1">
									<i class="fs--13 fi fi-arrow-end-slim"></i>
									<span>Advanced photo options</span>
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link py-3" href="">
									<i class="fs--13 fi fi-arrow-end-slim"></i>
									<span>
										گروه 2
									</span>
								</a>

								<ul class="nav flex-column px-3">
									<li class="nav-item">
										<a class="nav-link" asp-controller="Forum" asp-action="Index">
											گروه 2
										</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" asp-controller="Forum" asp-action="Index">
											گروه 2 - 1
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" asp-controller="Forum" asp-action="Index">
											گروه 2 - 2
										</a>
									</li>
								</ul>
							</li>
						</ul>

					</nav>

				</div>
			</div>

			<div class="col-12 col-lg-8">

				<!--
					.article-format class will add some slightly formattings for a good text visuals.
					This is because most editors are not ready formatted for bootstrap
					Blog content should come inside this container, as it is from database!
					src/scss/_core/base/_typography.scss
				-->
				<div class="bg-white p-5 p-4-xs rounded-xl article-format">
					@* item *@
					<div>

						<h2 class="h4 text-primary font-weight-normal"><a asp-controller="Forum" asp-action="Item">Advanced photo options</a></h2>
						<p>If you're Tweeting from the Twitter for iOS or Twitter for Android apps, you can enhance, apply a filter, crop an image, and add stickers to a photo.</p>
						<ul class="list-inline my-4">
							<li class="list-inline-item d-block-xs m-0-xs">
								<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

									<span class="group-icon">
										<i class="fi fi-user-male"></i>
										<i class="fi fi-user-male text-primary"></i>
									</span>

									<span>53 کاربر</span>
								</a>

							</li>

							<li class="list-inline-item d-block-xs m-0-xs">
								<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

									<span class="group-icon">
										<i class="fi fi-chat"></i>
										<i class="fi fi-chat text-primary"></i>
									</span>

									<span>53 پاسخ</span>
								</a>

							</li>

							<li class="list-inline-item d-block-xs m-0-xs">
								<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

									<span class="group-icon">
										<i class="fi fi-plus"></i>
										<i class="fi fi-plus text-primary"></i>
									</span>

									<span>ورود به بحث</span>
								</a>

							</li>
						</ul>

					</div>
					@* item *@
					<div>

						<h2 class="h4 text-primary font-weight-normal"><a asp-controller="Forum" asp-action="Item">Advanced photo options</a></h2>
						<p>If you're Tweeting from the Twitter for iOS or Twitter for Android apps, you can enhance, apply a filter, crop an image, and add stickers to a photo.</p>
						<ul class="list-inline my-4">
							<li class="list-inline-item d-block-xs m-0-xs">
								<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

									<span class="group-icon">
										<i class="fi fi-user-male"></i>
										<i class="fi fi-user-male text-primary"></i>
									</span>

									<span>53 کاربر</span>
								</a>

							</li>

							<li class="list-inline-item d-block-xs m-0-xs">
								<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

									<span class="group-icon">
										<i class="fi fi-chat"></i>
										<i class="fi fi-chat text-primary"></i>
									</span>

									<span>53 پاسخ</span>
								</a>

							</li>

							<li class="list-inline-item d-block-xs m-0-xs">
								<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

									<span class="group-icon">
										<i class="fi fi-plus"></i>
										<i class="fi fi-plus text-primary"></i>
									</span>

									<span>ورود به بحث</span>
								</a>

							</li>
						</ul>

					</div>
					@* item *@
					<div>

						<h2 class="h4 text-primary font-weight-normal"><a asp-controller="Forum" asp-action="Item">Advanced photo options</a></h2>
						<p>If you're Tweeting from the Twitter for iOS or Twitter for Android apps, you can enhance, apply a filter, crop an image, and add stickers to a photo.</p>
						<ul class="list-inline my-4">
							<li class="list-inline-item d-block-xs m-0-xs">
								<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

									<span class="group-icon">
										<i class="fi fi-user-male"></i>
										<i class="fi fi-user-male text-primary"></i>
									</span>

									<span>53 کاربر</span>
								</a>

							</li>

							<li class="list-inline-item d-block-xs m-0-xs">
								<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

									<span class="group-icon">
										<i class="fi fi-chat"></i>
										<i class="fi fi-chat text-primary"></i>
									</span>

									<span>53 پاسخ</span>
								</a>

							</li>

							<li class="list-inline-item d-block-xs m-0-xs">
								<a href="#" class="btn btn-light py-1 px-2 mb-1 fs--14 d-block-xs text-align-start js-togglified">

									<span class="group-icon">
										<i class="fi fi-plus"></i>
										<i class="fi fi-plus text-primary"></i>
									</span>

									<span>ورود به بحث</span>
								</a>

							</li>
						</ul>

					</div>

				</div>

			</div>

		</div>

	</div>
</section>
<!-- /FAQ -->
