<!-- PAGE TITLE -->
<section class="bg-white p--30">
	<div class="container">

		<h1 class="h2">
			انجمن
		</h1>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb fs--14">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
				<li class="breadcrumb-item active" aria-current="page">انجمن</li>
			</ol>
		</nav>

	</div>
</section>
<!-- /PAGE TITLE -->
<!-- FAQ -->
<section class="p--30">
	<div class="container">

		<div class="row">

			<div class="col-12 col-lg-4">
				<div class="sticky-kit">

					<nav class="nav-deep nav-deep-light">

						<ul id="list-example" class="nav flex-column nav-default shadow-md rounded-xl bg-white p--10">
							<li class="nav-item px-3 py-2">
								<h2 class="h5 font-weight-normal text-primary">
									دسته بندی مباحث
								</h2>
							</li>

							<li class="nav-item">
								<a class="nav-link py-3" href="#spy1">
									<i class="fs--13 fi fi-arrow-end-slim"></i>
									<span>Advanced photo options</span>
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link py-3" href="">
									<i class="fs--13 fi fi-arrow-end-slim"></i>
									<span>
										گروه 2
									</span>
								</a>

								<ul class="nav flex-column px-3">
									<li class="nav-item">
										<a class="nav-link" asp-controller="Forum" asp-action="Index">
											گروه 2
										</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" asp-controller="Forum" asp-action="Index">
											گروه 2 - 1
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" asp-controller="Forum" asp-action="Index">
											گروه 2 - 2
										</a>
									</li>
								</ul>
							</li>
						</ul>

					</nav>

				</div>
			</div>

			<div class="col-12 col-lg-8">

				<!--
					.article-format class will add some slightly formattings for a good text visuals.
					This is because most editors are not ready formatted for bootstrap
					Blog content should come inside this container, as it is from database!
					src/scss/_core/base/_typography.scss
				-->
				<div class="bg-white p-5 p-4-xs rounded-xl article-format">

					<!-- COMMENTS -->
				<div class="clearfix mt-5">
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
				</p>
				<!-- LIST COMMENTS -->
				<h3 class="font-weight-light mb-4">
					3 Comments
				</h3>



				<!-- Comment 1 + Reply -->
				<div class="media mb-4">

					<!-- avatar : as background -->
					<div class="w--100 text-center">
						<div class="w--70 h--70 mb-1 rounded-circle d-inline-block bg-light bg-cover" style="background-image: url('/lib/Smarty/demo.files/images/unsplash/team/thumb_330/erik-mclean-06vpBIHmiYc-unsplash.jpg')"></div>
						<span class="d-block text-dark">Felicia Doe</span>
						<small class="d-block text-dark fs--12">3 weeks ago</small>
					</div>

					<div class="media-body">
						<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

						<!-- options -->
						<ul class="list-inline mt--20 mb--20">

							<!-- like -->
							<li class="list-inline-item">

								<!--
								NOTE: working ajax button! Check console for debug
								No security implemented to block multiple votes
								So on page refresh, should be handled by backend!
								-->
								<a href="#" class="btn-toggle btn btn-light py-1 px-2 fs--14"
								   data-toggle-ajax-url-on="demo.files/php/demo.ajax_request.php?comment_id=1&amp;vote=1">

									<span class="group-icon">
										<i class="fi fi-like"></i>
										<i class="fi fi-like text-primary"></i>
									</span>

									<span>like</span>
								</a>

							</li>
							<!-- /like -->
							<!-- reply -->
							<li class="list-inline-item">

								<!--

								Replies are using an ajax modal!
								Replace with wordpress style, if wordpress used!

								This format can be used on custom blog CMS.

								-->
								<a href="#" class="js-ajax-modal btn btn-light py-1 px-2 fs--14"
								   data-href="_ajax/modal_blog_comment_reply.html?comment_id=1#hash1"
								   data-ajax-modal-size="modal-md"
								   data-ajax-modal-centered="false"
								   data-ajax-modal-backdrop="static">
									<i class="fi fi-plus"></i>
									<span>reply</span>
								</a>

							</li>
							<!-- /reply -->

						</ul>
						<!-- /options -->
						<!-- ... replies here ... -->
						<!-- REPLY -->
						<div class="media mb-4">

							<!-- avatar : as background -->
							<div class="w--100 text-center">
								<div class="w--70 h--70 mb-1 rounded-circle d-inline-block bg-light bg-cover" style="background-image: url('/lib/Smarty/demo.files/images/unsplash/team/thumb_330/michael-dam-mEZ3PoFGs_k-unsplash.jpg')"></div>
								<span class="d-block text-dark">John Doe</span>
								<small class="d-block text-dark fs--12">just now</small>
							</div>

							<div class="media-body">
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

								<ul class="list-inline mt--20 mb--20">

									<!-- like -->
									<li class="list-inline-item">

										<!--
										NOTE: working ajax button! Check console for debug
										No security implemented to block multiple votes
										So on page refresh, should be handled by backend!
										-->
										<a href="#" class="btn-toggle btn btn-light py-1 px-2 fs--14"
										   data-toggle-ajax-url-on="demo.files/php/demo.ajax_request.php?comment_id=1&amp;vote=1">

											<span class="group-icon">
												<i class="fi fi-like"></i>
												<i class="fi fi-like text-primary"></i>
											</span>

											<span>like</span>
										</a>

									</li>
									<!-- /like -->

								</ul>

							</div>

						</div>
						<!-- /REPLY -->
						<!-- REPLY -->
						<div class="media mb-4">

							<!-- avatar : as background -->
							<div class="w--100 text-center">
								<div class="w--70 h--70 mb-1 rounded-circle d-inline-block bg-light bg-cover" style="background-image: url('/lib/Smarty/demo.files/images/unsplash/team/thumb_330/michael-dam-mEZ3PoFGs_k-unsplash.jpg')"></div>
								<span class="d-block text-dark">John Doe</span>
								<small class="d-block text-dark fs--12">just now</small>
							</div>

							<div class="media-body">
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

								<ul class="list-inline mt--20 mb--20">

									<!-- like -->
									<li class="list-inline-item">

										<!--
										NOTE: working ajax button! Check console for debug
										No security implemented to block multiple votes
										So on page refresh, should be handled by backend!
										-->
										<a href="#" class="btn-toggle btn btn-light py-1 px-2 fs--14"
										   data-toggle-ajax-url-on="demo.files/php/demo.ajax_request.php?comment_id=1&amp;vote=1">

											<span class="group-icon">
												<i class="fi fi-like"></i>
												<i class="fi fi-like text-primary"></i>
											</span>

											<span>like</span>
										</a>

									</li>
									<!-- /like -->

								</ul>

							</div>

						</div>
						<!-- /REPLY -->
						<!-- REPLY -->
						<div class="media mb-4">

							<!-- avatar : as background -->
							<div class="w--100 text-center">
								<div class="w--70 h--70 mb-1 rounded-circle d-inline-block bg-light bg-cover" style="background-image: url('/lib/Smarty/demo.files/images/unsplash/team/thumb_330/michael-dam-mEZ3PoFGs_k-unsplash.jpg')"></div>
								<span class="d-block text-dark">John Doe</span>
								<small class="d-block text-dark fs--12">just now</small>
							</div>

							<div class="media-body">
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

								<ul class="list-inline mt--20 mb--20">

									<!-- like -->
									<li class="list-inline-item">

										<!--
										NOTE: working ajax button! Check console for debug
										No security implemented to block multiple votes
										So on page refresh, should be handled by backend!
										-->
										<a href="#" class="btn-toggle btn btn-light py-1 px-2 fs--14"
										   data-toggle-ajax-url-on="demo.files/php/demo.ajax_request.php?comment_id=1&amp;vote=1">

											<span class="group-icon">
												<i class="fi fi-like"></i>
												<i class="fi fi-like text-primary"></i>
											</span>

											<span>like</span>
										</a>

									</li>
									<!-- /like -->

								</ul>

							</div>

						</div>
						<!-- /REPLY -->

					</div>

				</div>
				<!-- /Comment 1 + Reply -->
				<!-- Comment Anonymous : no avatar -->
				<div class="media mb-4">

					<!-- avatar : as background -->
					<div class="w--100 text-center">
						<div class="w--70 h--70 mb-1 rounded-circle d-inline-block bg-light bg-cover">
							<i class="fi fi-user-male fs--40 d-block mt-1 text-gray-500"></i>
						</div>
						<span class="d-block text-dark">Peter Parker</span>
						<small class="d-block text-dark fs--12">2 days ago</small>
					</div>

					<div class="media-body">
						<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>

						<!-- options -->
						<ul class="list-inline mt--20 mb--20">

							<!-- like -->
							<li class="list-inline-item">

								<!--
								NOTE: working ajax button! Check console for debug
								No security implemented to block multiple votes
								So on page refresh, should be handled by backend!
								-->
								<a href="#" class="btn-toggle btn btn-light py-1 px-2 fs--14"
								   data-toggle-ajax-url-on="demo.files/php/demo.ajax_request.php?comment_id=1&amp;vote=1">

									<span class="group-icon">
										<i class="fi fi-like"></i>
										<i class="fi fi-like text-primary"></i>
									</span>

									<span>like</span>
								</a>

							</li>
							<!-- /like -->
							<!-- reply -->
							<li class="list-inline-item">

								<!--

								Replies are using an ajax modal!
								Replace with wordpress style, if wordpress used!

								This format can be used on custom blog CMS.

								-->
								<a href="#" class="js-ajax-modal btn btn-light py-1 px-2 fs--14"
								   data-href="_ajax/modal_blog_comment_reply.html?comment_id=1#hash1"
								   data-ajax-modal-size="modal-md"
								   data-ajax-modal-centered="false"
								   data-ajax-modal-backdrop="static">
									<i class="fi fi-plus"></i>
									<span>reply</span>
								</a>

							</li>
							<!-- /reply -->

						</ul>
						<!-- /options -->
						<!-- ... replies here ... -->

					</div>

				</div>
				<!-- /Comment Anonymous : no avatar -->
				<!-- /LIST COMMENTS -->



				<!-- already logged in -->
				<span class="d-block text-muted fs--12 mb-1">
					Logged in as: <b>John Doe</b>.
					Not you? Please <a rel="nofollow" href="#!">sign out</a>
				</span>

				<!-- Write Comment Form -->
				<form novalidate method="post" action="#" class="bs-validate d-block bg-white shadow-primary-xs rounded p-3 mb-5">

					<div class="row">

						<div class="col-12 col-md-6">

							<div class="form-label-group mb-3">
								<input required placeholder="Name" id="comment_name" type="text" value="" class="form-control">
								<label for="comment_name">Name</label>
							</div>

						</div>

						<div class="col-12 col-md-6">

							<div class="form-label-group mb-3">
								<input required placeholder="Email" id="comment_email" type="email" value="" class="form-control">
								<label for="comment_email">Email</label>
							</div>

						</div>

					</div>


					<div class="clearfix mb-3">

						<div class="form-label-group">
							<textarea required rows="3" id="comment_description"
											  data-output-target=".js-form-advanced-char-left"
											  class="form-control js-form-advanced-char-count-down"
											  maxlength="3000" placeholder="Your comment"></textarea>
							<label for="comment_description">Your comment</label>
						</div>

						<span class="fs--12 text-muted text-align-end float-end mt-1">
							characters left: <span class="js-form-advanced-char-left">3000</span>
						</span>

					</div>


					<!--
					GDPR CONSENT
					!only if user not logged in!
					-->
					<div class="clearfix bg-light position-relative rounded p-4 mb-4">

						<span class="text-muted fs--12 d-block position-absolute bottom-0 end-0 m-2">
							EU GDPR
						</span>

						<label class="form-checkbox form-checkbox-primary">
							<input required type="checkbox" name="checkbox">
							<i></i>
							<span>
								I consent that my data is being stored in
								line with the guidelines set out in
								<a href="page-terms-and-conditions.html" target="_blank">Privacy Policy</a>.
							</span>
						</label>

					</div>
					<!-- /GDPR CONSENT -->


					<button type="submit" class="btn btn-primary btn-sm">
						Submit Comment
					</button>
				</form>
				<!-- /Write Comment Form -->

				</div>
					<!-- /COMMENTS -->
				</div>

			</div>

		</div>

	</div>
</section>
<!-- /FAQ -->
