@using BlogAndShop.Services
<!-- Footer -->
<footer id="footer" class="footer-dark">

	<!-- expandable : hidden by default -->
	<div id="footer_expand" class="collapse">
		<div class="container py-3">

			<!-- social -->
			<div class="clearfix">
				<h3 class="h6 text-muted">مارا دنبال کنید</h3>
				@await Component.InvokeAsync("SocialMedias")
			</div>

			<!-- /social -->

			<ul class="mt--30 mb-0 breadcrumb bg-transparent p-0 block-xs">
				<li class="breadcrumb-item"><a asp-controller="Blog" asp-action="Index">بلاگ</a></li>
				<li class="breadcrumb-item"><a asp-controller="Shop" asp-action="Categories">فروشگاه</a></li>
				<li class="breadcrumb-item"><a asp-controller="Forum" asp-action="Index">انجمن</a></li>
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="ContactUs">تماس با ما</a></li>
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="AboutUs">درباره ما</a></li>
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="TermsAndCondition">قوانین</a></li>
				<li class="breadcrumb-item"><a asp-controller="Forum" asp-action="Index">سوالات متداول</a></li>
			</ul>

			<div class="text-muted mt--30">
				<p>
					@await Html.GetSiteDescription()
				</p>
			</div>

			<div class="mb-4">

				<ul class="list-unstyled mb-0 mt-5 px-3">

					<li class="list-item py-2">

						<a href="tel:@await Html.GetSiteContactPhone()" class="clearfix py-1 h5 mb-0 d-block font-weight-medium">
							@await Html.GetSiteContactPhone()
						</a>

					</li>

					<li class="list-item py-2">

						<a href="mailto:@await Html.GetSiteContactEmail()" class="clearfix py-1 h5 d-block font-weight-medium">
							@await Html.GetSiteContactEmail()
						</a>

					</li>

				</ul>




			</div>

		</div>
	</div>
	<!-- /expandable : hidden by default -->


	<div class="bg-distinct py-2 clearfix">

		<div class="container clearfix font-weight-light text-center-xs position-relative">


			<div class="clearfix float-start float-none-xs">

				<!-- badge expand info -->
				<span id="footer_expand_badge" class="badge badge-secondary badge-pill p-2 position-absolute start-0 mt--n50 mx-2 position-relative fs--13 font-weight-normal">
					<i class="arrow arrow-bottom border-secondary mx-1 mb--5"></i>
					برای جزییات کلیک کنید
				</span>


				<!-- footer expand toggler -->
				<a href="#footer_expand"
				   data-toggle-target="#footer_expand_badge"
				   data-toggle-container-class="hide-force"
				   data-offset="-100%"
				   data-speed="600"
				   class="scroll-to btn-toggle btn float-start overlay-dark overlay-opacity-2 overflow-hidden text-decoration-none px-3 rounded mt--n8 mb--n8" data-toggle="collapse" rel="noopener" aria-expanded="false">

					<span class="group-icon">
						<i class="fi fi-menu-dots fs--18"></i>
						<i class="fi fi-close fs--18"></i>
					</span>

				</a>

				<!-- copyright -->
				<div class="fs--14 py-2 float-start float-none-xs m-0-xs">
					&copy; @await Html.GetSiteName().
				</div>

				<div class="clearfix mt-2 d-block d-sm-none"><!-- mobile spacer --></div>
			</div>


			<!-- credit card -->
			<ul class="list-inline mb-0 mt-2 float-end float-none-xs">
				@{
					var samandehiLogo = await Html.GetSamandehiLogo();
					var samandehi = await Html.GetSamandehi();
					var enamadLogo = await Html.GetEnamadLogo();
					var enamad = await Html.GetEnamad();
				}

				@if (!string.IsNullOrEmpty(samandehi))
				{
					<li class="list-inline-item m-0">
						<img width="38" height="24" class="lazy" data-src="@samandehiLogo" src="@samandehiLogo"
							 alt="mastercard credit card icon">
					</li>
				}
				@if (!string.IsNullOrEmpty(enamad))
				{
					<li class="list-inline-item m-0">
						<img width="38" height="24" class="lazy" data-src="@enamadLogo" src="@enamadLogo" alt="mastercard credit card icon">
					</li>
				}
				<!-- more vendors on assets/images/credit_card/ -->

			</ul>
			<!-- /credit card -->

		</div>

	</div>

</footer>
<!-- /Footer -->
