@using BlogAndShop.Services
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<header id="header" class="shadow-xs">


	<!-- NAVBAR -->
	<div class="container position-relative">


		<nav class="navbar navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit">

			<div class="align-items-start">

				<!-- mobile menu button : show -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
					<svg width="25" viewBox="0 0 20 20">
						<path d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z"></path>
						<path d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z"></path>
						<path d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z"></path>
						<path d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z"></path>
					</svg>
				</button>

				<!--
					Logo : height: 70px max
				-->
				<a class="navbar-brand m-0" asp-controller="Home" asp-action="Index">
					<img src="@await Html.GetSiteLogo()" width="110" height="70" alt="...">
				</a>

			</div>


			<!--

				[SOW] SEARCH SUGGEST PLUGIN
				++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++
				PLEASE READ DOCUMENTATION
				documentation/plugins-sow-search-suggest.html
				++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++

			-->
			@*<form action="search-result-2.html"
				method="GET"
				data-autosuggest="on"
				data-mode="json"
				data-json-max-results='10'
				data-json-related-title='Explore Smarty'
				data-json-related-item-icon='fi fi-star-empty'
				data-json-suggest-title='Suggestions for you'
				data-json-suggest-noresult='No results for'
				data-json-suggest-item-icon='fi fi-search'
				data-json-suggest-min-score='5'
				data-json-highlight-term='true'
				data-contentType='application/json; charset=utf-8'
				data-dataType='json'
				data-container="#sow-search-container"
				data-input-min-length="2"
				data-input-delay="250"
				data-related-keywords=""
				data-related-url="_ajax/search_suggest_related.json"
				data-suggest-url="_ajax/search_suggest_input.json"
				data-related-action="related_get"
				data-suggest-action="suggest_get"
				class="js-ajax-search sow-search sow-search-mobile-float d-flex-1-1-auto mx-5 m-0-xs">*@
			<form action="search-result-2.html"
				  method="GET"
				  class="js-ajax-search sow-search sow-search-mobile-float d-flex-1-1-auto mx-5 m-0-xs">
				<div class="sow-search-input w-100">

					<!-- rounded: form-control-pill -->
					<div class="input-group-over d-flex align-items-center w-100 h-100 rounded form-control-pill">

						<input placeholder="جستجو در سایت" name="s" type="text" class="form-control-sow-search form-control form-control-lg b-0 bg-light" value="" autocomplete="off">

						<span class="sow-search-buttons">

							<!-- search button -->
							<button aria-label="Global Search" type="submit" class="btn shadow-none m-0 px-3 py-2 bg-transparent text-muted">
								<i class="fi fi-search fs--20 m-0"></i>
							</button>

							<!-- close : mobile only (d-inline-block d-lg-none) -->
							<a href="javascript:;" class="btn-sow-search-toggler btn btn-light shadow-none m-0 p-2 d-inline-block d-lg-none">
								<i class="fi fi-close fs--20 m-0"></i>
							</a>

						</span>

					</div>

				</div>

				<!-- search suggestion container -->
				<div class="sow-search-container w-100 p-0 hide shadow-md" id="sow-search-container">
					<div class="sow-search-container-wrapper">

						<!-- main search container -->
						<div class="sow-search-loader p-3 text-center hide">
							<i class="fi fi-circle-spin fi-spin text-muted fs--30"></i>
						</div>

						<!--
							AJAX CONTENT CONTAINER
							SHOULD ALWAYS BE AS IT IS : NO COMMENTS OR EVEN SPACES!
						-->
						<div class="sow-search-content rounded w-100 scrollable-vertical"></div>

					</div>
				</div>
				<!-- /search suggestion container -->
				<!--

					overlay combinations:
						overlay-dark opacity-* [1-9]
						overlay-light opacity-* [1-9]

				-->
				<div class="sow-search-backdrop overlay-dark opacity-3 hide"></div>

			</form>
			<!-- /SEARCH -->
			<!-- OPTIONS -->
			<ul class="list-inline list-unstyled mb-0 d-flex align-items-end">

				<!-- mobile : search toggler -->
				<li class="list-inline-item mx-1 dropdown d-inline-block d-lg-none">

					<a href="#!" class="btn-sow-search-toggler btn btn-sm btn-light rounded-circle" aria-label="Search" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
						<i class="fi fi-search m-0"></i>
					</a>

				</li>

				<!-- join us button -->
				@await Html.PartialAsync("_Login")

			</ul>
			<!-- /OPTIONS -->


		</nav>

	</div>
	<!-- /NAVBAR -->




	<div class="clearfix">

		<!-- line -->
		<hr class="m-0 opacity-5">

		<div class="container">

			<nav class="navbar h-auto navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit">


				<!-- Menu -->
				<!--

					Dropdown Classes (should be added to primary .dropdown-menu only, dropdown childs are also affected)
						.dropdown-menu-dark 		- dark dropdown (desktop only, will be white on mobile)
						.dropdown-menu-hover 		- open on hover
						.dropdown-menu-clean 		- no background color on hover
						.dropdown-menu-invert 		- open dropdown in oposite direction (left|right, according to RTL|LTR)
						.dropdown-menu-uppercase 	- uppercase text (font-size is scalled down to 13px)
						.dropdown-click-ignore 		- keep dropdown open on inside click (useful on forms inside dropdown)

						Repositioning long dropdown childs (Example: Pages->Account)
							.dropdown-menu-up-n100 		- open up with top: -100px
							.dropdown-menu-up-n100 		- open up with top: -150px
							.dropdown-menu-up-n180 		- open up with top: -180px
							.dropdown-menu-up-n220 		- open up with top: -220px
							.dropdown-menu-up-n250 		- open up with top: -250px
							.dropdown-menu-up 			- open up without negative class


						Dropdown prefix icon (optional, if enabled in variables.scss)
							.prefix-link-icon .prefix-icon-dot 		- link prefix
							.prefix-link-icon .prefix-icon-line 	- link prefix
							.prefix-link-icon .prefix-icon-ico 		- link prefix
							.prefix-link-icon .prefix-icon-arrow 	- link prefix

						.nav-link.nav-link-caret-hide 	- no dropdown icon indicator on main link
						.nav-item.dropdown-mega 		- required ONLY on fullwidth mega menu

				-->
				<div class="collapse navbar-collapse" id="navbarMainNav">


					<!-- MOBILE MENU NAVBAR -->
					<div class="navbar-xs d-none">
						<!-- .sticky-top -->
						<!-- mobile menu button : close -->
						<button class="navbar-toggler pt-0" type="button" data-toggle="collapse" data-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
							<svg width="20" viewBox="0 0 20 20">
								<path d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z"></path>
							</svg>
						</button>

						<!--
							Mobile Menu Logo
							Logo : height: 70px max
						-->
						<a class="navbar-brand" asp-controller="Home" asp-action="Index">
							<img src="@await Html.GetSiteLogo()" width="110" height="70" alt="...">
						</a>

					</div>
					<!-- /MOBILE MENU NAVBAR -->
					<!-- NAVIGATION -->
					<ul class="navbar-nav navbar-sm">

						<!-- home -->
						<li class="nav-item dropdown">

							<a asp-controller="Home" asp-action="Index" id="mainNavDocumentation" class="nav-link nav-link-caret-hide">
								<span>خانه</span>
							</a>

						</li>




						<!-- shop -->
						<li class="nav-item dropdown">

							<a asp-controller="Shop" asp-action="Categories" id="mainNavShop" class="nav-link nav-link-caret-hide">
								<span>فروشگاه</span>
							</a>

						</li>
						<!-- shop -->
						<li class="nav-item dropdown">

							<a asp-controller="Forum" asp-action="Index" id="mainNavShop" class="nav-link nav-link-caret-hide">
								<span>انجمن</span>
							</a>

						</li>
						<!-- category -->
						@await Component.InvokeAsync("HeaderProductGroups")


						<!-- blog category -->

						@await Component.InvokeAsync("HeaderBlogGroups")


						<!-- social : mobile only (d-block d-sm-none)-->

						<li class="nav-item d-block d-sm-none text-center mb-4">
							@await Component.InvokeAsync("SocialMedias")
						</li>

					</ul>
					<!-- /NAVIGATION -->




				</div>


				<!-- desktop social -->
				<div class="float-end d-none d-lg-inline-block d-xl-inline-block d-xl-none">

					@await Component.InvokeAsync("SocialMedias")

				</div>
				<!-- /desktop social -->

			</nav>

		</div>
	</div>

</header>