@using BlogAndShop.Services
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Routing
<li class="list-inline-item mx-1 dropdown">

	@if (User.Identity == null || !User.Identity.IsAuthenticated)
	{
		<a asp-controller="Account" asp-action="Index" asp-route-ReturnUrl="@Html.ViewContext.HttpContext.Request.GetEncodedUrl()" class="btn btn-pill btn-sm btn-primary">

			<!-- visible : mobile only (including small screen : iPhone 5) -->
			<span class="d-block d-sm-none">
				ورود
			</span>

			<!-- visible : desktop only -->
			<span class="d-none d-sm-block">

				<i class="fi fi-layers"></i>
				<span class="d-inline-block pl-2 pr-2">
					ورود / عضویت
				</span>

			</span>

		</a>
	}
	else
	{

		<a href="#" aria-label="Account Options" id="dropdownAccountOptions" class="btn btn-sm rounded-circle btn-primary btn-soft-static" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
			<span class="group-icon">
				<i class="fi fi-user-male"></i>
				<i class="fi fi-close"></i>
			</span>
		</a>


		<!--

			Dropdown Classes
				.dropdown-menu-dark 		- dark dropdown (desktop only, will be white on mobile)
				.dropdown-menu-hover 		- open on hover
				.dropdown-menu-clean 		- no background color on hover
				.dropdown-menu-invert 		- open dropdown in oposite direction (left|right, according to RTL|LTR)
				.dropdown-click-ignore 		- keep dropdown open on inside click (useful on forms inside dropdown)

				Dropdown prefix icon (optional, if enabled in variables.scss)
					.prefix-link-icon .prefix-icon-dot 		- link prefix
					.prefix-link-icon .prefix-icon-line 	- link prefix
					.prefix-link-icon .prefix-icon-ico 		- link prefix
					.prefix-link-icon .prefix-icon-arrow 	- link prefix

					.prefix-icon-ignore 					- ignore, do not use on a specific link

		-->
		<div aria-labelledby="dropdownAccountOptions" class="prefix-link-icon prefix-icon-dot dropdown-menu dropdown-menu-clean dropdown-menu-invert dropdown-click-ignore p-0 mt--18 fs--15">
			<div class="dropdown-header">
				@await Html.GetUserName()
			</div>
			<div class="dropdown-divider"></div>
			<a  asp-controller="Account" asp-action="Orders" title="سفارشات" class="dropdown-item text-truncate font-weight-light">
				سفارشات
			</a>
			<a  asp-controller="Account" asp-action="Profile" title="پروفایل" class="dropdown-item text-truncate font-weight-light">
				پروفایل
			</a>
			<div class="dropdown-divider mb-0"></div>
			<a asp-controller="Account" asp-action="Logout" title="خروج" class="prefix-icon-ignore dropdown-footer dropdown-custom-ignore">
				<i class="fi fi-power float-start"></i>
				خروج
			</a>
		</div>

	}

</li>