
@model List<BlogAndShop.Data.ViewModel.HomePage.HomeBannerModel>
@if (Model.Any())
{
	<section class="swiper-container swiper-btn-group swiper-btn-group-end text-white p-0 h-50vh overflow-hidden"
			 data-swiper='{
					"slidesPerView": 1,
					"spaceBetween": 0,
					"autoplay": { "delay" : 3500, "disableOnInteraction": false },
					"loop": true,
					"pagination": { "type": "bullets" }
				}'>

		<div class="swiper-wrapper h-100">

			@{ var count = 1; }
			@foreach (var item in Model)
			{
				<!-- slide @count-->
				<div class="lazy h-100 swiper-slide d-middle bg-white overlay-dark overlay-opacity-3 d-middle bg-cover"
					 @*style="background-image:url('@item.BannerPath')"*@
					 data-background-image="@item.BannerPath"
					 data-background-image-xs="@item.BannerPath">
					<!-- optional line lenses -->
					<div class="position-absolute absolute-full w-100 overflow-hidden">
						<img class="img-fluid" width="2000" height="2000" src="~/lib/Smarty/assets/images/masks/shape-line-lense.svg" alt="lines">
					</div>
					<div class="container z-index-10 text-white text-center-xs">

						@Html.Raw(item.HtmlContent)


					</div>
				</div>

				<!-- /slide @count-->
				count++;
				}

			</div>

			<!-- Add Arrows -->
			<div class="swiper-button-next swiper-button-white"></div>
			<div class="swiper-button-prev swiper-button-white"></div>

			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>

		</section>
	}