@model List<BlogAndShop.Data.ViewModel.Common.MediaModel>
@{
	Layout = null;
}

@foreach (var item in Model)
{
	<div class="col-2  mb-4" data-aos="fade-up" data-aos-delay="0">

		<a href="#" onclick="SetSelectedImage('@item.Path')" class="d-block bg-white rounded p-2 shadow-primary-xs text-dark text-decoration-none transition-hover-top transition-all-ease-250">
			<img class="w-100 img-fluid rounded" src="@item.Path" alt="...">
			<div class="px-2 py-3">
				<p class="mb-0">@item.Title</p>
			</div>
		</a>

	</div>
}
