@model List<BlogAndShop.Data.ViewModel.Forum.ForumGroupModel>

	<div class="col-12 col-lg-4">


		<!-- CATEGORIES -->
		<nav class="nav-deep nav-deep-light mb-4 shadow-xs shadow-none-md shadow-none-xs px-4 pb-3 p-0-md p-0-xs rounded">

			<!-- mobile trigger : categories -->
			<button class="clearfix btn btn-toggle btn-sm btn-block text-align-left shadow-md border rounded mb-1 d-block d-lg-none" data-target="#nav_responsive" data-toggle-container-class="d-none d-sm-block bg-white shadow-md border animate-fadein rounded p-3">
				<span class="group-icon px-2 py-2 float-start">
					<i class="fi fi-bars-2"></i>
					<i class="fi fi-close"></i>
				</span>

				<span class="h5 py-2 m-0 float-start">
					دسته ها
				</span>
			</button>

			<!-- desktop only -->
			<h5 class="pt-3 pb-3 m-0 d-none d-lg-block">
				دسته ها
			</h5>


			<!-- navigation -->
			<ul id="nav_responsive" class="nav flex-column d-none d-lg-block">

				@foreach (var cat in Model)
				{
					<li class="nav-item">
						<a class="nav-link px-0" asp-controller="Forum" asp-action="Index" asp-route-forumGroupId="@cat.Id">
							<span class="px-2 d-inline-block">
								@cat.Title
							</span>
						</a>
					</li>
				}
			</ul>

		</nav>
		<!-- /CATEGORIES -->

	</div>